@font-face {
  font-family: 'NotoSansJP';
  font-weight: 300;
  font-style: normal;
  src: url('./NotoSansJP-Light.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-weight: normal;
  font-style: normal;
  src: url('./NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansJP';
  font-weight: bold;
  font-style: normal;
  src: url('./NotoSansJP-Bold.otf') format('opentype');
}
