---
import Section from '@components/Section.astro';
import Title from './Title.astro';
import CertificateItem from './CertificateItem.astro';
import type { Certification } from '@data/profile';

interface Props {
  certifications: Certification[];
}

const { certifications, ...rest } = Astro.props;
---

<Section noBreak {...rest}>
  <Title level="section" text="Certifications" />
  <div class="grid grid-cols-4 gap-4">
    {
      certifications.map((item) => (
        <CertificateItem
          name={item.title}
          description={item.description}
          url={item.url}
        />
      ))
    }
  </div>
</Section>
