---
import { resume } from '@/schema'
import Section from '@/components/Section.astro'
import ProCard from '@/components/ProCard.astro'
---

<Section title='Projects'>
  <div class='-mx-3 pt-1 grid grid-cols-1 gap-3 print:grid-cols-3 print:gap-2 md:grid-cols-2 lg:grid-cols-3'>
    {resume?.projects.map((project) => (
      <ProCard {...project} />
    ))}
  </div>
</Section>
