$font-xxsmall: 10px;
$font-xsmall: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-xlarge: 20px;
$font-xxlarge: xx-large;

$space-xxsmall: 5px;
$space-xsmall: 10px;
$space-small: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-xlarge: 50px;
$space-xxlarge: 60px;

$accent-color: #878787;
