---
import clsx from 'clsx';

interface Props {
  text: string;
  accent?: boolean;
  class?: string;
}

const { class: className, text, accent = false, ...rest } = Astro.props;
---

<span
  class={clsx([
    className,
    'font-mono text-xs rounded-md p-1 px-2 text-nowrap font-bold',
    {
      'text-white bg-gray-700': accent,
      'text-black bg-gray-200': !accent,
    },
  ])}
  {...rest}
>
  {text}
</span>
