---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import clsx from 'clsx';
import Text from './Text.astro';
import Title from './Title.astro';
import { faArrowUpRightFromSquare } from '@fortawesome/free-solid-svg-icons';

interface Props {
  name: string;
  description: string;
  url: string;
  class?: string;
}

const { class: className, name, description, url, ...rest } = Astro.props;
---

<a
  class="group text-black hover:text-gray-500 transition-colors ease-in rounded-lg hover:bg-gray-100"
  href={url}
  target="_blank"
  rel="noopener noreferrer"
>
  <article
    class={clsx([
      className,
      'relative h-full border-solid border-[1px] rounded-lg p-2 border-gray-300',
    ])}
    {...rest}
  >
    <FontAwesomeIcon
      className="size-3 absolute top-2 right-2"
      icon={faArrowUpRightFromSquare}
    />
    <Title level="item" text={name} />
    <Text text={description} />
  </article>
</a>
