---
const { class: className, ...rest } = Astro.props;
---

<div class:list={["page-container_root", className]} {...rest}>
  <slot></slot>
</div>

<style>
.page-container_root {
  --scale: 1;
  transform: scale(var(--scale));

  display: flex;
  gap: 30px;
}

@media print {
  .page-container_root {
    /* Reset to the original size */
    transform: scale(1);
    display: initial;
  }
}
</style>
