ninja-keys {
    --ninja-accent-color: #475569;
    --ninja-actions-height: auto;
    --ninja-font-size: 15px;
}

ninja-keys::part(ninja-input) {
    display: none;
}

body {
    font-family: 'Geist-Black', sans-serif;
}