---
import '@/global.css'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
<head>
	<meta charset='UTF-8' />
	<meta name='author' content='Leonardo Andika' />
	<meta name='description' content='Print-friendly, minimalist resume.' />
	<meta name='keywords' content='resume, cv, curriculum vitae, web, mobile, development, frontend, backend, ui' />
	<meta name='viewport' content='width=device-width' />
	<link rel='icon' type='image/png' href='https://raw.githubusercontent.com/aarsxx/resume/main/public/favicon.ico' />
	<meta name='generator' content={Astro.generator} />
	<title>{title}</title>
</head>
<body class='font-mono bg-slate-50 dark:bg-slate-950'>
<slot />
<script>
	import '@/theme.ts'
</script>
</body>
</html>
